@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-forum: "Forum", serif;
  --font-body: "Cormorant Garamond", serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-forum;
  }
}
